<% include ./partials/header.ejs %>

<div class="jumbotron">
  <h1 class="display-4">Recent Posts !</h1>
  <hr>
  <div class="card mt-2">
    <div class="card-body">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      Lorem ipsum dolor sit amet.
    </div>
  </div>
  <a class="btn btn-success mt-3" href="#">Read More Stories From Students</a>
</div>

<% include ./partials/footer.ejs %>