<% include ./partials/header.ejs %>


    <div class="container">
        <form action=<%="/reset/" +token %> method="post">
            <div class="mt-5 form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" id="pass1" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Password" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
            </div>
            <div class="mt-2 form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="password" id="pass2" name="password2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Password" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
                <h5 id="h5" style=" margin-top: 5px;font-size: 14px;font-weight: 200;color: rgb(240, 80, 80);">

                    <%= j%>
                </h5>
            </div>



            <button id="submit" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <script>
        var pass1 = document.querySelector("#pass1")
        var pass2 = document.querySelector("#pass2");
        pass2.addEventListener("input", function() {
            var pass1value = pass1.value;
            var pass2value = pass2.value;

            if (pass1value != pass2value) {
                document.querySelector("#h5").textContent = 'Password not Matched'
                document.querySelector("#submit").setAttribute("disabled", true)

            } else {
                document.querySelector("#h5").textContent = ' ';
                document.querySelector("#submit").removeAttribute("disabled");
            }


        })
    </script>

    <% include ./partials/footer.ejs %>